:root {
  --page-background: #333;
  --sidebar-background: rgb(74, 74, 74);
  --social-icon-red: rgba(244,67,54,1);
  --social-icon-blue: rgba(33,150,243,1);
  --flame: #E4572E;
  --blue-green: #17BEBB;
  --sunglow: #FFC914;
  --raisin-black: #2E282A;
  --raisin-black-light: #201d1e;
  --green: #76B041; }

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px var(--sunglow), -5px -6px var(--social-icon-blue); }
  25% {
    text-shadow: -5px -6px var(--sunglow), 5px 4px var(--social-icon-blue); }
  50% {
    text-shadow: 5px -4px var(--sunglow), -8px 4px var(--social-icon-blue); }
  75% {
    text-shadow: -8px -4px var(--sunglow), -5px -4px var(--social-icon-blue); }
  100% {
    text-shadow: -5px 0 var(--sunglow), 5px -4px var(--social-icon-blue); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; } }

@keyframes enlarge {
  100% {
    transform: scale(1.4); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: var(--flame); }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0 6rem; }

.heading {
  display: block;
  padding: 1rem; }
  .heading__hello {
    font-size: 3rem;
    font-weight: 600;
    border-radius: 100px;
    margin-bottom: -4rem;
    color: var(--raisin-black);
    opacity: 0.9; }
  .heading__primary {
    font-weight: 700;
    font-size: 10rem;
    color: var(--raisin-black); }
  .heading__sub {
    font-weight: 700;
    font-size: 6rem;
    color: var(--raisin-black); }
  .heading__paragraph {
    font-weight: 100;
    font-size: 2rem;
    max-width: 50%;
    color: var(--raisin-black);
    opacity: 1; }

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s; }

.icon-3d {
  padding: 10px;
  color: #fff; }
  .icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    -moz-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite, enlarge 0.3s forwards; }

.highlight {
  position: relative; }
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 105%;
    z-index: -1;
    opacity: 0.5;
    transform: scale(1.07, 1.05) skewX(-15deg); }
  .highlight--yellow::after {
    background-color: var(--sunglow); }
  .highlight--blue::after {
    background-color: var(--blue-green);
    opacity: 1; }
  .highlight--green::after {
    background-color: var(--green);
    opacity: 0.7; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100vh;
  z-index: 100; }
  .sidebar__list {
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none; }
  .sidebar__item {
    display: grid;
    padding: 1rem;
    animation-name: moveInLeft;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    visibility: hidden;
    animation-fill-mode: forwards; }
    .sidebar__item--1 {
      animation-delay: 1.0s; }
    .sidebar__item--2 {
      animation-delay: 0.9s; }
    .sidebar__item--3 {
      animation-delay: 0.8s; }
    .sidebar__item--4 {
      animation-delay: 0.7s; }
  .sidebar__link {
    margin: auto; }
    .sidebar__link:visited, .sidebar__link:link {
      text-decoration: none;
      color: white; }

.topnav {
  display: block;
  height: 10vh;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: var(--raisin-black); }
  .topnav__list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end; }
  .topnav__item {
    display: grid;
    padding: 1rem;
    margin: auto 2rem;
    animation-name: moveInTop;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    visibility: hidden;
    animation-fill-mode: forwards; }
    .topnav__item--1 {
      animation-delay: 0.4s; }
    .topnav__item--2 {
      animation-delay: 0.3s; }
    .topnav__item--3 {
      animation-delay: 0.2s; }
    .topnav__item--4 {
      animation-delay: 0.1s; }
  .topnav__link:visited, .topnav__link:link {
    text-decoration: none;
    color: white; }

.tab-panel__heading {
  position: relative;
  color: var(--raisin-black);
  font-size: 6rem; }

.tab-panel__container {
  max-width: 90rem;
  min-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.tab-panel__tabs {
  flex: 0 0 20%;
  display: flex;
  flex-direction: row; }

.tab-panel__button {
  padding: 1rem;
  display: block;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--flame);
  border: none;
  opacity: 0.75;
  transition: all 0.3s;
  width: 15rem; }
  .tab-panel__button--active {
    background-color: rgba(var(--sunglow), 0.5); }
  .tab-panel__button:hover {
    background-color: rgba(var(--sunglow), 0.5); }

.tab-panel__content-container {
  flex: 1;
  margin-left: 5rem;
  position: relative; }

.tab-panel__content {
  transition: all 0.1s;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%; }
  .tab-panel__content--active {
    visibility: visible;
    opacity: 1;
    transition: all 0.1s 0.1s; }
  .tab-panel__content p {
    font-size: 2rem; }

.header {
  position: relative;
  font-size: 4rem;
  min-height: 100vh; }
  .header__content {
    position: relative;
    padding: 8rem 10rem 0 10rem;
    display: flex;
    flex-direction: row; }
    .header__content-img {
      position: relative; }
  .header__btn {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-70%); }
  .header__content-img::before {
    content: "";
    position: absolute;
    background-color: var(--green);
    width: 50rem;
    height: 100%;
    margin-left: -30rem;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
    opacity: 0; }
  .header__content-img:hover::before {
    transform: translateX(50px) translateY(50px);
    opacity: 0.5; }
  .header--img {
    flex: 0 0 1;
    z-index: 3;
    width: 50rem;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    opacity: 0.6;
    transition: all .4s;
    margin-left: -30rem; }
    .header--img:hover {
      opacity: 1;
      transform: scale(1.1); }

.section {
  font-size: 4rem;
  padding: 10rem;
  margin: 5rem auto; }
  .section-heading {
    font-size: 7rem;
    color: var(--raisin-black); }
  .section-education {
    display: flex;
    flex-direction: column;
    align-items: center; }
