:root {
  // Potential color scheme
  --color-flame: #e4572e;
  --color-flame-rgb: 228, 87, 46;
  --color-blue-green: #17bebb;
  --color-sunglow: #ffc914;
  --color-sunglow-rgb: 255, 201, 20;
  --color-raisin-black: #2e282a;
  --color-raisin-black-light: #201d1e;
  --color-green: #76b041;
  --color-white: rgba(236, 232, 232, 0.664);
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-850: 53.125em; // 850px
$bp-medium: 50em; // 800px
$bp-700: 43.75em; // 700px
$bp-small: 37.5em; // 600px

$bp-navbar: 576px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  // @media only screen and (max-width: $bp-700) {
  //   font-size: 50%;
  // }

  // @media only screen and (max-width: $bp-small) {
  //   font-size: 40%;
  // }
}

body {
  background-color: var(--color-flame);
  padding: 1rem 6rem;
  font-family: "Nunito Sans", sans-serif;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem 3rem;
  }
}

p {
  color: var(--color-raisin-black);
}
