:root {
  --social-icon-red: rgba(244, 67, 54, 1);
  --social-icon-blue: rgba(33, 150, 243, 1);

  // --color-white: rgb(255, 255, 255);

  // Potential color scheme
  --flame: #e4572e;
  --blue-green: #17bebb;
  --sunglow: #ffc914;
  --sunglow-rgb: 255, 201, 20;
  --raisin-black: #2e282a;
  --raisin-black-light: #201d1e;
  --green: #76b041;
  --white: rgba(236, 232, 232, 0.664);
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-850: 53.125em; // 850px
$bp-medium: 50em; // 800px
$bp-700: 43.75em; // 700px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  // @media only screen and (max-width: $bp-700) {
  //   font-size: 50%;
  // }

  // @media only screen and (max-width: $bp-small) {
  //   font-size: 40%;
  // }
}

body {
  background-color: var(--flame);
  padding: 1rem 6rem;
  font-family: "Nunito Sans", sans-serif;
}

p {
  color: var(--raisin-black);
}
