// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  HEADING
// ///// ///// ///// ///// ///// ///// ///// ///// ///

.heading {
  position: absolute;
  display: block;
  visibility: hidden;
  padding: 1rem;
  color: var(--color-raisin-black);
  line-height: 1.7;
  padding: 5rem;
  animation-name: moveInBottom;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  min-height: 90%;
  width: 100%;

  &__hello {
    font-size: 3rem;
    font-weight: 600;

    @media only screen and (max-width: 850px) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.8rem;
    }
  }

  &__primary {
    font-weight: 700;
    font-size: 10rem;

    @media only screen and (max-width: 850px) {
      font-size: 9rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 9rem;
    }
  }

  &__secondary {
    font-weight: 700;
    font-size: 6rem;

    @media only screen and (max-width: 850px) {
      font-size: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
    }
  }

  &__intro-paragraph {
    font-weight: 100;
    font-size: 2rem;
    max-width: 50%;
    opacity: 1;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  & button {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-70%);
  }
}

// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  NAVBAR
// ///// ///// ///// ///// ///// ///// ///// ///// ///

// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  SIDEBAR
// ///// ///// ///// ///// ///// ///// ///// ///// ///

// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  BUTTON (&& KINDA LINKS)
// ///// ///// ///// ///// ///// ///// ///// ///// ///

.btn {
  &--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-raisin-black);
    border: none;
    // border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    // transition: all 0.3s;

    &::after {
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      border-radius: 5px;
      position: relative;
      background-color: var(--color-green);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover::after {
      width: 92%;
    }
  }
}

// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  CARDS
// ///// ///// ///// ///// ///// ///// ///// ///// ///

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;

  width: 25rem;
  height: 25rem;
  border: 1px solid var(--color-raisin-black);
  // border-radius: 1.6rem;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background-color: var(--color-white);
  box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.6s 1s;

  &::before,
  &::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-raisin-black);

    position: absolute;
    z-index: 2;

    opacity: 0.3;
    transition: 0.3s;
  }

  &::before {
    top: 2rem;
    right: 2rem;

    border-bottom-width: 0;
    border-left-width: 0;
  }

  &::after {
    bottom: 2rem;
    left: 2rem;

    border-top-width: 0;
    border-right-width: 0;
  }

  &__wrapper {
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;

    &:hover .card::before,
    &:hover .card::after {
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
    }
  }

  &__icon {
    width: 13rem;
    height: 13rem;
    fill: white;
  }

  &--active {
    transition: none;
  }

  &__text {
    color: var(--color-raisin-black);
    font-size: 2.2rem;
  }
}

.timeline {
  margin-top: 3rem;

  &__tab-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // margin: 4rem 0rem;
    position: relative;
  }

  &__tab-indicator {
    display: block;
    position: absolute;
    width: 25%;
    background-color: var(--color-raisin-black) !important;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.5s cubic-bezier(0.17, 0.8, 0.33, 0.99),
      width 0.5s linear;
    z-index: -1;
    // border-radius: 25px;
    transform: skewX(15deg);
    box-shadow: 0 10px 30px 0 rgba(43, 44, 51, 0.15);
  }

  &__tab {
    margin: 2rem 2rem;
    display: inline-block;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 400;
    border: none;
    padding: 1.25rem 4.5rem;
    cursor: pointer;
    width: 25%;
    transition: all 0.3s;
    background-color: transparent;
    color: var(--color-raisin-black);

    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
    &--active {
      color: white;
    }
  }

  &__tab-content {
    display: none;
    font-family: inherit;
    font-size: 1.8rem;
    max-width: 70rem;
    margin: 3rem auto;
    padding: 4rem;
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 105%;
      z-index: -1;
      opacity: 0.5;
      transform: scale(1.07, 1.05) skewX(15deg);
      background-color: white;
    }

    & > p {
      display: block;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &::before {
        content: "";
        border: solid var(--color-raisin-black);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        left: -20px;
        top: 10px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }

    &--active {
      display: block;
    }
  }
}

// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  CARDS
// ///// ///// ///// ///// ///// ///// ///// ///// ///

.projects {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  position: relative;
}

.project {
  background-color: rgba(255, 255, 255, 0.548);
  // position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: var(--color-raisin-black);
  padding: 2rem;
  border-radius: 3px;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover {
    transform: translateY(-1rem);
  }

  &__git {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: 0.3s;

    &:hover {
      filter: invert(99%) sepia(3%) saturate(317%) hue-rotate(82deg)
        brightness(117%) contrast(100%);
    }
  }

  &__title {
    font-weight: 800;
    font-size: 2.5rem;
  }

  &__description {
    font-weight: 300;
  }

  &__tech {
    display: flex;
    flex-direction: row;
    justify-content: start;

    &-item {
      background-color: var(--color-raisin-black);
      color: white;
      padding: 1rem;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 100;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
