.header {
  position: relative;
  min-height: 100vh;

  &__sketch {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    z-index: -10000;
  }
}

.section {
  // min-height: 100vh;
  padding: 10rem 10rem 0rem 10rem;
  transition: transform 1s, opacity 1s;
  color: var(--color-raisin-black);

  @media only screen and (max-width: 1000px) {
    padding: 5rem 0rem 5rem 0rem;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  &-heading {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    color: var(--color-raisin-black);

    @media only screen and (max-width: 700px) {
      padding: 0rem;
    }

    &::before {
      content: "";
      background-color: var(--color-raisin-black);
      height: 1px;
      border-radius: 10px;
      margin-right: 3rem;
      width: 100%;
    }

    &::after {
      content: "";
      background-color: var(--color-raisin-black);
      height: 1px;
      width: 100%;
      margin-left: 3rem;
    }

    &--start {
      &::before {
        flex-basis: 25%;
      }

      &::after {
        flex-basis: auto;
        width: 100%;
      }
    }

    &--end {
      &::before {
        flex-basis: auto;
        width: 100%;
      }

      &::after {
        flex-basis: 25%;
      }
    }
  }
}

.about {
  &-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;

    @media only screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &-me__text {
    font-size: 1.7rem;
    font-weight: 300;
    // background-color: var(--color-white);
    max-width: 40rem;
    margin-right: -5rem;
    z-index: 20;

    @media only screen and (max-width: 1000px) {
      max-width: 100%;
      padding: 2rem;
      margin-right: 0rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
      padding: 3rem;
    }

    & > p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-me__img {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
    object-fit: cover;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }

    &-container {
      position: relative;
      max-width: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1264px) {
        width: 100%;
        margin-left: 3vw;
      }

      @media only screen and (max-width: 1000px) {
        width: 30rem;
        margin: 0rem 0rem 3rem 0rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-blue-green);
        clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
        scale: 1.05;
        z-index: -10;
        transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
        opacity: 1;
      }
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-flame);
        clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
        scale: 1.04;
        z-index: -9;
        transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
        opacity: 1;
      }
  
      &:hover::before {
        transform: translateX(2rem) translateY(2rem);
        opacity: 1;
      }
  
      &:hover::after {
        transform: translateX(2rem) translateY(2rem);
        opacity: 1;
      }
    }
  }
}

.sub-heading {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  margin-top: 5rem;
  color: var(--color-raisin-black);
}

.contact {
  margin-top: 3rem;
  color: var(--color-raisin-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 70vh;
  z-index: 100;
  padding: 4rem;

  & > * {
    margin-bottom: 6rem;
  }

  &__title {
    font-size: 6rem;
    font-weight: 700;
  }

  &__info {
    font-size: 3rem;
    font-weight: 200;
  }

  &__btn {
  }
}

.copyright{
  position: absolute;
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -5rem);
}
