// ///// ///// ///// ///// ///// ///// ///// ///// ///
// ///  HEADING
// ///// ///// ///// ///// ///// ///// ///// ///// ///

.heading {
  position: absolute;
  display: block;
  visibility: hidden;
  padding: 1rem;
  color: var(--color-raisin-black);
  line-height: 1.7;
  padding: 5rem;
  animation-name: moveInBottom;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  min-height: 90%;
  width: 100%;

  &__hello {
    font-size: 3rem;
    font-weight: 600;

    @media only screen and (max-width: 800px) {
      font-size: 5rem;
    }

    @media only screen and (max-width: 850px) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.8rem;
    }
  }

  &__primary {
    font-weight: 700;
    font-size: 10rem;

    @media only screen and (max-width: 850px) {
      font-size: 9rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 9rem;
    }
  }

  &__secondary {
    font-weight: 700;
    font-size: 6rem;

    @media only screen and (max-width: 850px) {
      font-size: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
    }
  }

  &__intro-paragraph {
    font-weight: 100;
    font-size: 2rem;
    max-width: 50%;
    opacity: 1;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  & button {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-70%);
  }
}
