// break at 576px

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  height: 6vh;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: var(--color-raisin-black);
  background-color: rgba(var(--color-flame-rgb), 0.8);
  transition: all 0.3s;
  z-index: 100;

  @media only screen and (max-width: $bp-navbar) {
    justify-content: space-between;
    background-color: rgba(var(--color-flame-rgb), 0.8);
  }

  @media only screen and (max-width: 800px) {
    font-size: 2.2rem;
  }

  &__logo {
    // background-color: white;
    position: relative;
    width: 14rem;
    height: 100%;
    z-index: 20;
  }

  &__list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transition: all 0.3s;
    flex: 1;

    @media only screen and (max-width: 800px) {
      justify-content: space-evenly;
    }

    @media only screen and (max-width: $bp-navbar) {
      // turn into sliding burger nav
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      z-index: 12;
      display: none;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      display: flex;
    }
  }

  &__item {
    display: grid;
    padding: 1rem;
    margin: auto 2rem;
    position: relative;

    animation-name: moveInTop;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    visibility: hidden;
    animation-fill-mode: forwards;

    &::before {
      position: absolute;
      color: white;
      left: -5%;
      top: 20%;

      @media only screen and (max-width: $bp-medium) {
        left: -12%;
        top: 9%;
      }
    }

    @media only screen and (max-width: 800px) {
      margin: auto 1rem;
      padding: 0;
    }

    @media only screen and (max-width: $bp-navbar) {
      margin: 3rem 0;
    }

    &--1 {
      animation-delay: 0.4s;

      &::before {
        content: "ð“ƒ‰";
        top: 15%;
        left: 0%;

        @media only screen and (max-width: $bp-medium) {
          top: 5% !important;
        }
      }
    }
    &--2 {
      animation-delay: 0.3s;

      &::before {
        content: "ð“ƒŠ";
        left: 0%;
      }
    }
    &--3 {
      animation-delay: 0.2s;

      &::before {
        content: "ð“ƒ‹";
      }
    }
    &--4 {
      animation-delay: 0.1s;

      &::before {
        content: "ð“ƒŒ";
      }
    }
  }

  &__link {
    &:visited,
    &:link {
      text-decoration: none;
      color: white;
    }
  }

  &__burger {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 4px;
    z-index: 12;

    @media only screen and (max-width: $bp-navbar) {
      display: inline-block;
      margin-right: 2rem;
    }

    &-icon {
      @include burger(30px, 3px, 6px, var(--color-raisin-black-light));
      position: absolute;
      top: 50%;
      left: 50%;
      translate: (-50%, -50%);
      margin-left: -15px;
      margin-top: -1.5px;
    }

    &--active {
      div {
        @include burger-to-cross;
        &:before,
        &:after {
          background-color: white;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-raisin-black-light);
    z-index: -10;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;

    @media only screen and (min-width: $bp-navbar) {
      transition: all 0s;
    }

    &--active {
      z-index: 10;
      opacity: 1;
      visibility: visible;

      @media only screen and (min-width: $bp-navbar) {
        visibility: hidden;
      }
    }
  }
}
