.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100vh;
  z-index: 100;

  &__list {
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
  }

  &__item {
    display: grid;
    padding: 1rem;

    animation-name: moveInLeft;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    visibility: hidden;
    animation-fill-mode: forwards;

    &--1 {
      animation-delay: 1s;
    }

    &--2 {
      animation-delay: 0.9s;
    }

    &--3 {
      animation-delay: 0.8s;
    }

    &--4 {
      animation-delay: 0.7s;
    }
  }

  &__link {
    margin: auto;

    &:visited,
    &:link {
      text-decoration: none;
      color: white;
    }
  }
}
