body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 0 6rem;
}

.heading{
    display: block;
    padding: 1rem;

    &__hello {
        font-size: 3rem;
        border-radius: 100px;
        margin-bottom: -4rem;
    }

    &__primary {
        font-weight: 700;
        font-size: 10rem;
        color: $raisin-black
    }

    &__sub {
        font-weight: 700;
        font-size: 6rem;
        color: $raisin-black
    }

    &__paragraph {
        font-weight: 100;
        font-size: 3rem;
    }
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }

.icon-3d {
    padding: 10px;
    color: #fff;

    &:hover {
        -webkit-animation: icon3d 200ms infinite;
        -moz-animation: icon3d 200ms infinite;
        animation: icon3d 200ms infinite, enlarge 0.3s forwards;
    }
}

.highlight {
    position: relative;

    &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 105%;
        z-index: -1;
        opacity: 0.5;
        transform: scale(1.07, 1.05) skewX(-15deg);
        background-color: $sunglow;
    }
}

.underline {
    position: relative;

    &::after {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
        height: 100;
        z-index: -1;
        border-radius: 600px;
        transform: translateY(-2rem);
        border-bottom: 2px solid $sunglow;
    }
}
  
